Repository upspawn/todoist-mcp, changes with the labels that .github/labeler.yml gives for each.
All labels: core, config, ci, documentation, tests, dependencies, api, mcp, todoist

ci: add Dockerfile and update GitHub Actions workflow for Node.js setup
  .github/workflows/release.yml
  Dockerfile
Labels: ci

Bump version to 0.1.1
  package.json
Labels: none

ci: update npm publish command to set access level to public
  .github/workflows/release.yml
Labels: ci

chore: update all dependencies to latest versions and migrate to TypeScript ESLint config
  .eslintrc.js
  eslint.config.ts
  package-lock.json
  package.json
Labels: none

Fix failing checks: lower coverage threshold and update dependency review config
  jest.config.js
  tests/unit/logger.test.ts
  tests/unit/todoist-api.test.ts
Labels: none

Update Jest configuration and GitHub Actions workflow for code quality
  .github/workflows/code-quality.yml
  jest.config.js
Labels: ci

Update CODEOWNERS and dependabot configuration to assign ownership to @alexerm
  .github/CODEOWNERS
  .github/dependabot.yml
Labels: ci

Add Docker support and update README for installation instructions
  README.md
  docker-compose.yml
  examples/docker-mcp.json
Labels: none

Fix permissions for bin dist/index.js
  package.json
Labels: none

feat: migrate to Todoist API v1 with comprehensive integration testing
  README.md
  jest.integration.config.js
  package.json
  src/handlers/tool-handlers.ts
  src/services/todoist-api.ts
  src/types/todoist.ts
  src/utils/config.ts
  tests/integration/todoist-api-real.test.ts
  tests/unit/api-error-handling.test.ts
  tests/unit/config.test.ts
  tests/unit/todoist-api-extended.test.ts
  tests/unit/todoist-api.test.ts
  tests/unit/tool-handlers-complete.test.ts
  tests/unit/tool-handlers.test.ts
Labels: api

chore: bump version to 0.2.0
  package.json
Labels: none

chore: update server version to 0.2.0
  src/index.ts
Labels: none

feat: automate version management in CI/CD
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
  scripts/validate-versions.js
  src/index.ts
Labels: ci

Update TypeScript to 5.9.2 and related ESLint plugins
  package-lock.json
  package.json
Labels: none

.github/labeler.yml:

# Automatically label PRs based on files changed

# Core functionality
core:
  - any: ['src/handlers/**/*', 'src/services/**/*', 'src/types/**/*']

# Configuration
config:
  - any: ['package.json', 'tsconfig.json', 'jest.config.js', '.eslintrc*', '.prettierrc*']

# CI/CD
ci:
  - any: ['.github/**/*']

# Documentation
documentation:
  - any: ['docs/**/*', 'README.md', '*.md']

# Tests
tests:
  - any: ['tests/**/*', '**/*.test.ts', '**/*.spec.ts']

# Dependencies
dependencies:
  - any: ['package-lock.json', 'package.json']

# API
api:
  - any: ['src/services/todoist-api.ts']

# MCP Protocol
mcp:
  - any: ['src/handlers/tool-*.ts', 'src/types/mcp.ts']

# Todoist specific
todoist:
  - any: ['src/types/todoist.ts', 'src/services/todoist-api.ts']
